.pizzaPage {
    display: flex;
    flex-direction: column;
}

.pizzaPage__header {
    font-family: 'Open Sans', sans-serif;
}

.pizzaPage__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 65px 35px;
    padding: 35px 0px;
}
